body {
    font-family: Arial;
    width: 600px;
}

.comment-form-container {
    background: #F0F0F0;
    border: #e0dfdf 1px solid;
    padding: 20px;
    border-radius: 4px;
}

.input-row {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    border: #e0dfdf 1px solid;
}

.btn-submit {
    padding: 10px 20px;
    background: #333;
    border: #1d1d1d 1px solid;
    color: #f0f0f0;
    font-size: 0.9em;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.comment-row {
    border-bottom: #e0dfdf 1px solid;
    margin-bottom: 15px;
    padding: 15px;
}

.outer-comment {
    background: #F0F0F0;
    padding: 20px;
    border: #dedddd 1px solid;
    border-radius: 4px;
}

span.comment-row-label {
    color: #484848;
}

span.posted-by {
    font-weight: bold;
}

.comment-info {
    font-size: 0.9em;
    padding: 0 0 10px 0;
}

.comment-text {
    margin: 10px 0px 30px 0;
}

.btn-reply {
    color: #2f20d1;
    cursor: pointer;
    text-decoration: none;
}

.btn-reply:hover {
    text-decoration: underline;
}

#comment-message {
    margin-left: 20px;
    color: #005e00;
    display: none;
}

.label {
    padding: 0 0 4px 0;
}