body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:#F6F6F6;
  }

nav{
  background-color: #CB2929;

}

.navbar-nav, .navbar-brand, .nav-link {
    font-family: 'Montserrat', sans-serif !important;
}

/* nav bar link text white color */
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.header-height {
  height: 400px; /* Adjust the height as needed */
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  text located  on header*/
.gradient-overlay {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.15)); /* Gradient from white to transparent */

}
.custom-left-margin {
    margin-right: 200px; /* Adjust the value as needed */
}


/*registration*/
.custom-button{
    border-color: #CB2929;
    color: #CB2929;
    background-color: rgba(255, 255, 255, 0.6); /* 60% transparent white */
}

.custom-button:hover {
    background-color: #CB2929;
    border-color: #CB2929;
}

.custom-button2{
    border-color: #CB2929;
    color: whitesmoke;
    background-color:#CB2929; /* 60% transparent white */
}

.custom-button2:hover{
    color: whitesmoke;
    background: #9E2E2E ; /*  gradient background for hover */
    box-shadow: 0 4px 8px rgba(255, 77, 77, 0.5);
    border-color: #CB2929;
}




.gradient-custom-3 {
    /* fallback for old browsers */
    background: #ff8080;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 128, 128, 0.5), rgba(255, 179, 179, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 128, 128, 0.5), rgba(255, 179, 179, 0.5));
}

/* Registration button styles with gradient */
.gradient-custom-4 {
    /* Define the initial gradient background */
    background: #ff8080;
    background: -webkit-linear-gradient(to right, rgb(217, 74, 74), rgb(248, 146, 146)); /* Gradient for Chrome and Safari */
    background: linear-gradient(to right, rgb(227, 77, 77), rgb(250, 160, 160)); /* Standard gradient */

    transition: background-color 0.3s, box-shadow 0.3s;
}
.gradient-custom-4:hover {
    background: #CB2929; /*  gradient background for hover */
    box-shadow: 0 4px 8px rgba(255, 77, 77, 0.5);
}



.custom-margin{
    margin-bottom: 8rem;
}


.border-link {
    hyphens: auto;
}

.comment {
    margin-bottom: 20px; /
}

.table-row {
    border-bottom: 1px solid #dee2e6;
}

.table-row td {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*login page*/
.error-message {
    padding: 20px 0 0 0;
    color: red;
    font-size: 16px;
    font-weight: bold;
}


/*main table*/
.black-heading {
    color: black;
}

.black-link {
    color: black;
}

.black-link:hover {
    color: #CB2929;
}
/* Style for active pagination button */
.pagination .page-item.active .page-link {
    background-color: #CB2929;
    color: white;
    border-color: #CB2929;
}

.pagination .page-item:not(.active) .page-link {
    background-color: white;
    color: black;
    border-color: black;
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





/* Default style for tables */
h5.table-title {
    width: 200px; /* Default width */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    h5.table-title {
        font-size: 14px;
        width: 100px;
    }
    .th{
        width: 200px;

    }
    .truncated-text {
        width: 200px; /* Adjust width as needed for mobile devices */
    }
}